---
layout: default
title: Home
---

<div class="container">

  <h1 class="page-heading">Posts</h1>

  <div class="row">
    {% for post in site.posts %}

      <div class="col s12 m6 l4">

        <a class="no_underline" href="{{ post.url | prepend: site.baseurl }}">
          <div class="card post_preview">
            <div class="card-image">
              <img src="{{ post.date | date: "%Y-%m-%d" | prepend: '/images/posts/' | prepend: site.baseurl | append: '-' | append: post.slug | append: '/featured_image.jpg'}}" alt="Featured Image for {{ post.title }}" >
              <span class="card-title">{{ post.title }}</span>
              <div class="card-date">{{ post.date | date: "%b %-d, %Y" }}</div>
              <div class="card-category {{ post.categories.first }}">
                {{ post.categories.first | replace:"-"," " | capitalize }}
              </div>
            </div>
            <div class="card-content">
              <p>{{ post.excerpt | strip_html }}</p>
            </div>
          </div>
        </a>

      </div>

    <div class="col s12 {% cycle 'hide-on-med-and-up', 'hide-on-large-only', ''  %} {% cycle 'hide-on-med-only', ''  %} "></div>

    {% endfor %}
  </div>


  <h1 class="page-heading">Projects</h1>

  <div class="row">
    {% for project in site.projects %}

    <div class="col s12 m6 l4">

      <a class="no_underline" href="{{ project.url | prepend: site.baseurl }}">
        <div class="card project_preview">
          <div class="card-image">
            <img src="{{ project.url | prepend: 'images' | prepend: site.baseurl | append: 'featured_image.jpg'}}" alt="Featured Image for {{ project.title }}">
            <span class="card-title">{{ project.title }}</span>
            <div class="card-category default project">
              Ruby on Rails
            </div>
            <div class="card-status">Status: {{ project.status }}</div>
          </div>
          <div class="card-content">
            <p>{{ project.excerpt | strip_html }}</p>
          </div>
        </div>
      </a>

    </div>

    <div class="col s12 {% cycle 'hide-on-med-and-up', 'hide-on-large-only', ''  %} {% cycle 'hide-on-med-only', ''  %} "></div>

    {% endfor %}
  </div>


</div>
