<div id="footer" class="grey darken-3 white-text z-depth-1" >
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m4 l4">
          <h5>World We Want</h5>

          <div class="row no-margin-bottom">
            <div class="col s12">
              <img class="logo responsive-img left" src="/images/projects/world-we-want/mockup/logo.png" alt="logo">
              7 billion individuals, 1 planet Earth.
              We are collecting visions for our world from people everywhere.
            </div>
          </div>

        </div>
        <div class="col s12 m4 l4">
          <h5>Add Your Vision</h5>

          <div class="row no-margin-bottom">
            <div class="col s12">
              <a class="btn-flat waves-effect waves-light primary-color white-text with-icon">
                <i class="mdi mdi-plus left"></i>
                Add Your Vision
              </a>
            </div>
          </div>

        </div>
        <div class="col s12 m4 l4">
          <h5>Get Social</h5>

          <div class="row">
            <div class="col s12">
              <a class="btn-flat waves-effect waves-light color-scheme-facebook with-icon">
                <i class="mdi mdi-facebook left"></i>
                Facebook
              </a>
            </div>
          </div>

          <div class="row no-margin-bottom">
            <div class="col s12">
              <a class="btn-flat waves-effect waves-light color-scheme-twitter with-icon">
                <i class="mdi mdi-twitter left"></i>
                Twitter
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('select').material_select();
  });
</script>
