<nav id="header" class="primary-color darken-2 z-depth-1" >
  <div class="container">
    <div class="nav-wrapper">
      <a class="brand-logo" href="{{ include.mockup_base_url }}/index">
        <img class="logo left" src="/images/projects/world-we-want/mockup/logo.png" alt="logo">
        World We Want
      </a>
      <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="mdi mdi-menu"></i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{{ my_page.url | prepend: site.baseurl }}">Add Your Vision</a></li>
      </ul>
      <ul class="side-nav" id="mobile-nav">
        <li><a href="{{ site.baseurl }}">Home</a></li>
        <li><a href="{{ my_page.url | prepend: site.baseurl }}">Add Your Vision</a></li>
      </ul>
    </div>
  </div>
</nav>

<script>
  $( document ).ready(function() {
   $(".button-collapse").sideNav();
  });
</script>
