.sidenav {
  // force height to full-height, otherwise elements can be cut off
  height: 100%;

  // wrapper for the header
  .header-link {
    display: block;
    margin: 0;
    padding: 0;
  }

  .header {
    // give header equal spacing on all four sides
    padding-bottom: $gutter-width / 2;
    padding-top: $gutter-width / 2;

    // avoid space below the image
    img {
      display: block;
    }
  }

  a {
    color: color('teal', 'lighten-3');
  }

  // match link padding to that of header
  li > a {
    color: inherit;

    padding-left: $gutter-width / 2;
    padding-right: $gutter-width / 2;
  }

  // use white color scheme for links
  li > a:not(.no-link), .header-link {
    &:hover {
      background-color: color('grey', 'darken-3')
    }
  }

  ul, li {
    background: inherit;
  }

  li > a.heading {
    background: inherit;
    position: relative;
    z-index: 1;

    span {
      background: inherit;
      color: color('teal', 'lighten-3');
      font-weight: bold;
      padding-right: 15px;
    }

    // add line behind text
    &:after {
      border-bottom: 1px solid color('teal', 'lighten-3');
      content: '';
      left: $gutter-width / 2;
      position: absolute;
      right: $gutter-width / 2;
      top: 45%;
      z-index: -1;
    }
  }
}
