---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$secondary-color: #212121;

// Import partials from `sass_dir` (defaults to `_sass`)
@import "materialize";

.color-scheme {

  @each $color_name, $color in $colors {
    @each $color_type, $color_value in $color {
      @if $color_type == "base" {
        &.primary-#{$color_name} .primary-color,
        &.secondary-#{$color_name} .secondary-color {
          background-color: $color_value !important;
        }
      }
      @else {
        &.primary-#{$color_name}.primary-#{$color_type} .primary-color,
        &.secondary-#{$color_name}.secondary-#{$color_type} .secondary-color {
          background-color: $color_value !important;
        }
      }
    }
  }

}

#hero img.logo {
  @media #{$small-and-down} {
    max-width: 250px;
  }
}

#header .brand-logo img.logo{
  height: 38px;
  width: auto;
  margin-top: 13px;
  margin-right: 13px;

  @media #{$small-and-down} {
    height: 34px;
    margin-top: 11px;
    margin-right: 11px;
  }
}

.card:not(.horizontal) {
  .card-image img {
    width: auto !important;
    position: static !important;
    display: inline-block !important;
  }

  .card-image, .card-description {
    border-bottom: 1px solid rgba(160,160,160,0.2);
  }

  .card-description {
    padding: 20px;
    border-radius: 0 0 2px 2px;
  }

  .card-header {
    position: relative;
    top: -10px;
    left: -10px;
  }

  .card-header .card-title {
    color: white;
    padding: 5px 10px;
  }
}

.card.horizontal {
  .card-image {
    max-width: 25%;
    width: 25%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .card-action {
    padding: 10px 20px;
    border-top: 1px solid rgba(255, 255, 255, .5);

    p {
      margin: 0px;
      text-transform: uppercase;
    }
  }

  &:hover, &:focus {
    @extend .z-depth-5;
  }
}

.no-margin-bottom {
  margin-bottom: 0px !important;
}

.no-margin-top {
  margin-top: 0px !important;
}

a.btn.with-icon,
a.btn-flat.with-icon {

  padding-left: 10px !important;
  padding-right: 10px !important;

  i {

    position: static !important;
    width: 30px;
    border-color: rgba(255,255,255,.5);
    border-style: solid;
    border-width: 0px;

    &.left {
      border-right-width: 1px;
      padding-right: 10px;
      margin-right: 10px !important;
    }

    &.right {
      border-left-width: 1px;
      padding-left: 10px;
      margin-left: 10px !important;
    }

  }
}

@media #{$small-and-down} {
  a.btn, a.btn-flat {
    width: 100%;
  }

  .row .col.s12:not(:last-of-type) {
    margin-bottom: 20px;
  }
}

div.legal p {
  font-size: 10px;
}

#footer .row:not(:last-of-type) {
  margin-bottom: 10px;
}

#footer img.logo {
  margin-right: 20px;
  max-width: 100px;
}

.color-scheme-facebook {
  background-color: #3B5998 !important;
  @extend .white-text;
}

.color-scheme-twitter {
  background-color: #1DA1F2 !important;
  @extend .white-text;
}

// sticky footer
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
