<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <main>
      {{ content }}
    </main>

    {% include footer.html %}


    <script>
      $(function() {

        // open external links in new tab
        // credits: http://www.unseenrevolution.com/jquery-external-links-new-window/
        $("a[href*='http://']:not([href*='"+location.hostname.replace
          ("www.","")+"'])").each(function() {
            jQuery(this).click(function(event) {
             event.preventDefault();
             event.stopPropagation();
             window.open(this.href, '_blank');
            }).addClass('externalLink');
        });

      });

    </script>

  </body>

</html>
