---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="container">
    <header class="post-header center-align">
      <h1 class="post-title no-margin-bottom" itemprop="name headline">{{ page.title }}</h1>

      <p class="post-meta">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          <span class="chip">
            {{ page.date | date: "%b %-d, %Y" }}
          </span>
        </time>
        {% for category in page.categories %}
          <span class="chip categories {{ category }}">
            {{ category | replace:"-"," " | capitalize }}
          </span>
        {% endfor %}
        {% if page.author %} •
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span itemprop="name">{{ page.author }}</span>
          </span>
        {% endif %}
      </p>
    </header>
  </div>

  <div class='divider'></div>

  <div class="container">

    <div class="post-content flow-text" itemprop="articleBody">
      {{ content }}
    </div>

  </div>
</article>
