<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title>{{ include.mockup_title }} </title>
  <meta name="description" content="{{ include.mockup_excerpt }}">

  <!--Import Google Icon Font-->
  <!--<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
  <link href="/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />

  <link rel="stylesheet" href="{{ "/css/mockups/" | prepend: site.baseurl | append: page.categories.first | append: '.css' }}" media="screen,projection"/>
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" data-proofer-ignore>

  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="{{ "/js/materialize.min.js" | prepend: site.baseurl }}"></script>

</head>
